/* Color palitra */

:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --white_alpha: rgb(255, 255, 255, 0.6);
  --bgr-dark: #2f303a;
  --card-set-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}

body {
  background: #ffffff;
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---------header--------- */

.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.header-link:hover,
.header-email:hover,
.header-tel:hover,
.header-link:focus,
.header-email:focus,
.header-tel:focus {
  color: var(--accent-color);
}

.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-logo {
  color: var(--black);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

/* ------hero----- */

.hero {
  background: var(--bgr-dark);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 30px;
  text-align: center;
}

.hero-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  padding: 10px 32px;
  border: none;
}

.hero-btn:hover,
.radio-btn:hover,
.radio-btn-primary:hover,
.hero-btn:focus,
.radio-btn:focus,
.radio-btn-primary:focus {
  color: #188ce8;
}

.section-image {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.text-name {
  width: 270px;
}

/* ------filter---- */

.filter {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.radio-btn-primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 25px;
  color: var(--white);
  background: #2196f3;
  /* shadow-middle */
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.radio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;

  border: none;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  letter-spacing: 0.03em;
  color: var(--title-color);
  background: #f5f4fa;
}

.gallery {
  background: #ffffff;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--title-color);
}

.filter-gallery {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.gallery-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*----------advantages---------*/

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.text {
  display: flex;
  gap: 30px;
}

.adv-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.title-before {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* ----------image--------- */

.section-image {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.img-container {
  padding-bottom: 94px;
}

.image {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

/* --------team-------- */

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.section-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 50px;
}

.team-soc-list {
display: flex;
justify-content: center;
gap: 10px;
}

.team-soc-item {
width: 44px;
height: 44px;
}

.team-soc-link {
width: 100%;
height: 100%;
/* background: #FFFFFF; */
background: red;
border-radius: 50%;
display: block; 
}


.team-img {
  background: #ffffff;

  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-work {
  padding-top: 30px;
  padding-bottom: 30px;
}



.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding-bottom: 10px;
}

.work {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
  
}

/* --------footer--------*/

.footer {
  background: var(--bgr-dark);
  /* height: 252px; */
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.contact-title {
  margin-bottom: 20px;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.address {
  font-style: normal;
}

.address-map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white);
  display: inline-block;
  margin-bottom: 9px;
}

.address-tel {
  margin-top: 9px;
}

.email,
.tel {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white_alpha);
}
